<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/admin/user-maintain.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('User Maintaining');
	
	$t = $this->user['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="user_form" action="../create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="group" value="<?php echo $this->group; ?>" />
		<table id="user-table" class="table">
			<thead>
				<tr>
					<th width="30%">Key</th>
					<th width="70%">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="text" name="id"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->user['id']); ?>" /></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->user['name']); ?>" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email" class="form-control"
						value="<?php echo $this->user['email']; ?>" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">Submit</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php 
if (false)
	if (is_numeric($this->user['id']))
	{
?>
<div class="row">
	<div class="col-md-6">
		<table id="new_teacher_table" class="table teacher-list-table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="new_teacher_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><span name="name_span"></span><input type="hidden" name="name_input" value="" /></td>
					<td><a href="#" onClick="javascript: add_teacher();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->teacher_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_teacher(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
		<table id="new_ta_table" class="table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="new_ta_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><span name="name_span"></span><input type="hidden" name="name_input" value="" /></td>
					<td><a href="#" onClick="javascript: add_ta();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->ta_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_ta(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table id="new_stu_table" class="table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="new_stu_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><span name="name_span"></span><input type="hidden" name="name_input" value="" /></td>
					<td><a href="#" onClick="javascript: add_stu();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->stu_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_stu(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
	</div>
</div>
<?php 
	}
?>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$group_id = <?php echo $this->group; ?>;
	$user_id = <?php echo $this->user['id']; ?>;
</script>