<?php 
	$this->headTitle('User List');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/admin/user-query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_user(<?php echo $this->group; ?>);">
		Add new user
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>Users</strong></h3>
	<table class='table course-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					ID
				</th>
				<th width="30%">
					Name
				</th>
				<th width="20%">
					Group
				</th>
				<th width="20%">
					Operation
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->users as $user)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($user['id']); ?></td>
				<td><?php echo htmlspecialchars($user['name']); ?></td>
				<td><?php echo htmlspecialchars($user['group'])?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_user(<?php echo $user['id']; ?>);">
						Modify
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: del_user(<?php echo $user['id']; ?>);">
						Del
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>