<?php 
	$this->headTitle('Password Forgotten');
?>
Congratulations! You have successfully reset your password. <br />
<a href="<?php echo $this->url('authentication/default', array('controller' => 'log', "action" => "in")); ?>">Log in now</a>