<?php 
	$this->headTitle('Password Forgotten');
?>
<form id="reset-form" class="password-form" action="../actualReset/" method="post">
	<input type="hidden" name="reset_code" value="<?php echo $this->reset_code; ?>" />
	<div class="form-group">
		<label>Username:</label>
		<input type="text" class="form-control" name="username" />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input type="password" class="form-control" name="password" />
	</div>
	<div class="form-group">
		<label>Password Confirmation:</label>
		<input type="password" class="form-control" name="password_confirm" />
	</div>
	<div class="form-group">
		<input type="submit" class="form-control" 
			value="Submit" 
		/>
	</div>
</form>
<script type="text/javascript">
$(document).ready(function()
{
	$("#reset-form input[type='submit']").bind("click", function(){
		if ($("#reset-form input[name='password']").val() != $("#reset-form input[name='password_confirm']").val())
		{
			alert("Password confirmation is not correct!");
			return false;
		}
		else
			$("#reset-form").submit();
	});
});
</script>