@charset "utf-8";
/* CSS Document */

*
{
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Microsoft YaHei UI", "Times New Roman";
}

.horizontal-divider
{
	height: 0px;
	border-bottom: 2px solid #faebcc;	
}

/* main */

#main-img
{
	background-image: url(/img/application/index/main-img.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	height: 250px;
}

/* course */

#course > div[name='course_content']
{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#course > div[name='course_content'] .item > .course-subtitle
{
	font-size: 0.8em;
}

#course > div[name='setting']
{
	text-align: right;
}

#course_semester_selection_form 
{
	display: inline-block;
}

#course > div[name='course_content'] a.item
{
	display: inline-block;
	width: 210px;
	height: 50px;
	line-height: 30px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	background-color: #5bc0de;
	color: #FFFFFF;
	overflow: hidden;
}

#course > div[name='course_content'] a.item:hover
{
	background-color: #39b3d7;	
}

/* Author */

.region-wrapper
{
	padding: 10px;
	padding-bottom: 20px;
}