@CHARSET "UTF-8";

.student-list-table-wrapper
{
	padding: 20px;
	padding-bottom: 40px;	
}

/* Score Item Maintain */



/* Student Work */



/* Query all */

.student-list-table-wrapper > .table-caption
{
	float: left;
}

.student-list-table-wrapper > .edit-btn
{
	margin-top: 29px;
	float: right;
}