<?php 
	$this->headTitle('Course Schedule');
	$this->headScript()
		->prependFile ( $this->basePath() . '/js/course-info/course-material.js', 'text/javascript')
		->prependFile ( $this->basePath() . '/js/course-info/course-material-one.js', 'text/javascript')
		->prependFile ( $this->basePath() . '/js/plugins/showdown/showdown.js', 'text/javascript');
?>
<div class="course-material-table-wrapper">
	<table class='table course-materials-table'>
		<thead>
			<tr>
				<th width="36%">
					Abstract
				</th>
				<th width="11%">
					Publish Time
				</th>
				<th width="11%">
					Deadline
				</th>
				<th width="11%">
					Instructor
				</th>
				<th width="11%">
					Attachment
				</th>
				<th width="20%">
					Operation
				</th>
			</tr>
		</thead>
		<tbody>
			<?php
				$data = \Zend\Json\Json::decode($this->course_material['data'], true);
			?>
			<tr>
				<td><?php
					echo htmlspecialchars($data['abstract']);
				?></td>
				<td><?php echo date('Y-m-d', $data['publish_time']); ?></td>
				<td><?php
						$t = 0;
						foreach ($data['deadlines'] as $deadline)
						{
							if ($t === 1)
								echo '<br />';
							else
								$t = 1;
							echo date('Y-m-d', $deadline);
						}
				?></td>
				<td><?php
						$t = 0;
						foreach ($data['instructors'] as $instructor)
						{
							if ($t === 1)
								echo '<br />';
							else
								$t = 1;
							echo htmlspecialchars($instructor);
						}
				?></td>
				<td><?php
						$t = 0;
						foreach ($data['attachments'] as $attachment)
						{
							if ($t === 1)
								echo '<br />';
							else
								$t = 1;
							echo '<a href="../../../files/file/download?name=' . htmlspecialchars($attachment['name']) . '&id=' . htmlspecialchars($attachment['id']) . '">' . htmlspecialchars($attachment['name']) . '</a>';
						}
				?></td>
				<td>
					<?php 
					if ($this->auth_status['is_authenticated'])
					{
						if ($this->auth_status['teacher'] || $this->auth_status['ta']) 
						{ 
					?>
					<!-- Ta & Teacher -->
					<a class="btn-link" href="#" onClick="javascript: modify_material(<?php echo $this->course_material['id']; ?>);">
						Modify
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: notify_material(<?php echo $this->course_material['id']; ?>);">
						Notify
					</a>&nbsp;
					<?php 
							if ($this->course_material['need_upload'])
							{
					?>
					<br /><a class="btn-link" href="#" onClick="javascript: check_stu_work(<?php echo $this->course_material['id']; ?>);">
						Check Work
					</a>&nbsp;
					<?php
							}
						}
						else if ($this->auth_status['stu'] && $this->course_material['need_upload'] === 1)
						{
							if ($this->course_material['stu_work_data'] !== null)
								$stu_work_data = \Zend\Json\Json::decode($this->course_material['stu_work_data'], true);
							else
								$stu_work_data = array('stored_file_id' => null);
							
							if ($stu_work_data['stored_file_id'] !== null)
							{
					?>
					<!-- Stu -->
					<a class="btn-link" href="#" onClick="javascript: open_upload_work_dialog(<?php echo $this->course_material['id']; ?>, '<?php echo htmlspecialchars(str_replace('\\', '\\\\', $stu_work_data['stored_file_id'])); ?>');">
						Submitted on 
						<?php echo date('Y-m-d', $stu_work_data['submitted_time']); ?>&nbsp;
					</a>
					<?php 
							} else {
					?>
					<!-- Stu -->
					<a class="btn-link" href="#" onClick="javascript: open_upload_work_dialog(<?php echo $this->course_material['id']; ?>);">
						Upload Work
					</a>&nbsp;
					<?php 
							}
						}
					}
					?>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="md-div">
	</div>
	<div id="video-div">
	</div>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$abstract_md = "<?php if (!empty($data['abstract_md'])) echo htmlspecialchars(str_replace('\\', '\\\\', $data['abstract_md'])); ?>";
	$video_path = [""<?php foreach ($data['attachments'] as $attachment) echo ', "' . htmlspecialchars(str_replace('\\', '\\\\', $attachment['id'])) . '"'; ?>];
	$material_type = "MT_<?php echo $this->course_material['type']; ?>";
</script>
