<table class='table course-materials-table'>
	<thead>
		<tr>
			<th width="36%">
				Abstract
			</th>
			<th width="11%">
				Publish Time
			</th>
			<th width="11%">
				Deadline
			</th>
			<th width="11%">
				Instructor
			</th>
			<th width="11%">
				Attachment
			</th>
			<th width="20%">
				Operation
			</th>
		</tr>
	</thead>
	<tbody>
		<?php
		$count = 0;
		foreach ($this->materials as $material)
		{
			$count++;
			$data = $material['data'];
		?>
		<tr>
			<td>
				<?php if (!empty($data['abstract_md'])) { ?>
				<a class="btn-link" href="#" onClick="javascript: show_detail(<?php echo $material['id']; ?>);"
						data-toggle="tooltip" title="Click here to see the markdown detail."><?php
					echo htmlspecialchars($data['abstract']);
				?></a>
				<?php } else
					{
						echo htmlspecialchars($data['abstract']);
					} 
				?>
			</td>
			<td><?php echo date('Y-m-d', $data['publish_time']); ?></td>
			<td><?php
					$t = 0;
					foreach ($data['deadlines'] as $deadline)
					{
						if ($t === 1)
							echo '<br />';
						else
							$t = 1;
						echo date('Y-m-d', $deadline);
					}
			?></td>
			<td><?php
					$t = 0;
					foreach ($data['instructors'] as $instructor)
					{
						if ($t === 1)
							echo '<br />';
						else
							$t = 1;
						echo htmlspecialchars($instructor);
					}
			?></td>
			<td><?php
					$t = 0;
					foreach ($data['attachments'] as $attachment)
					{
						if ($t === 1)
							echo '<br />';
						else
							$t = 1;
						echo '<a href="../../../files/file/download?name=' . htmlspecialchars($attachment['name']) . '&id=' . htmlspecialchars($attachment['id']) . '">' . htmlspecialchars($attachment['name']) . '</a>';
					}
			?></td>
			<td>
				<!-- Ta & Teacher -->
				<?php 
				if ($this->auth_status['is_authenticated'])
				{
					if ($this->auth_status['teacher'] || $this->auth_status['ta']) 
					{ 
				?>
				<a class="btn-link" href="#" onClick="javascript: modify_material(<?php echo $material['id']; ?>);">
					Modify
				</a>&nbsp;
				<a class="btn-link" href="#" onClick="javascript: del_material(<?php echo $material['id']; ?>);">
					Del
				</a>&nbsp;
				<a class="btn-link" href="#" onClick="javascript: notify_material(<?php echo $material['id']; ?>);">
					Notify
				</a>&nbsp;
				<?php 
						if ($material['need_upload'])
						{
				?>
				<br /><a class="btn-link" href="#" onClick="javascript: check_stu_work(<?php echo $material['id']; ?>);">
					Check Work
				</a>&nbsp;
				<?php
						}
				?>
				<!-- Stu -->
				<?php
					}
					else if ($this->auth_status['stu'] && $material['need_upload'] === 1)
					{
						if ($material['stu_work_data'] !== null)
							$stu_work_data = \Zend\Json\Json::decode($material['stu_work_data'], true);
						else
							$stu_work_data = array('stored_file_id' => null);
						
						if ($stu_work_data['stored_file_id'] !== null)
						{
				?>
				<a class="btn-link" href="#" onClick="javascript: open_upload_work_dialog(<?php echo $material['id']; ?>, '<?php echo htmlspecialchars(str_replace('\\', '\\\\', $stu_work_data['stored_file_id'])); ?>');">
					Submitted on 
					<?php echo date('Y-m-d', $stu_work_data['submitted_time']); ?>&nbsp;
				</a>
				<?php 
						} else {
				?>
				<a class="btn-link" href="#" onClick="javascript: open_upload_work_dialog(<?php echo $material['id']; ?>);">
					Upload Work
				</a>&nbsp;
				<?php 
						}
					}
				} 
				?>
			</td>
		</tr>
		<?php
		}
		if ($count === 0)
		{
			echo '<tr><td colspan="6" class="text-center">
				Not any, contact your teacher for more!
			</td></tr>';
		}
		?>
	</tbody>
</table>