<?php 
	$this->headTitle('Course Setting');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/course-info/course-setting.js', 'text/javascript');
?>
<div id="setting-area">
<?php 
	if ($this->svn_config['enable'] === true)
	{
?>
	<h3 class="table-caption"><strong>SVN INFORMATION / OPERATION</strong></h3>
	<div class="horizontal-divider"></div>
	<div name="svn_setting" class="setting-table-wrapper">
<?php 
		if ($this->course_info['svn_status'] == 1)
		{
?>
		<?php 
			if ($auth_status['ta'] === true || $auth_status['teacher'] === true)
			{
		?>
		<p><a href="#" onClick="javascript: refresh_svn_repository();" class="btn btn-default">
			Refresh Svn Repository
		</a><br />
			This button is used when you add / remove students or faculties to / from your course to set up authorization setting to svn server.
		</p>
		<?php 
			}	// refresh svn
			if ($auth_status['ta'] === true || $auth_status['teacher'] === true || $auth_status['stu'] === true)
			{
		?>
		<p><a href="#" onClick="javascript: reset_svn_password();" class="btn btn-default">
			Reset Svn Password 
		</a></p>
		<div name="svn_password">
			<p>Svn password support only 6 to 10 characters or numbers, others are not allowed (e.g. _ - / ? .)</p>
			<form class="form-inline">
				<div class="form-group">
					<input class="form-control" type="password" name="password" 
						placeHolder="New Password" 
					/>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" name="password_confirm" 
						placeHolder="Password Confirmation" 
					/>
				</div>
				<div class="form-group">
					<input class="form-control" type="submit" 
						value="Submit" 
					/>
				</div>
			</form>
		</div>
		<p> Svn Repository : 
			<?php echo 'svn://10.107.10.177/course_' . $this->course['id'] . '/user' . $this->auth_status['user']['id']; ?>
		</p>
	
<?php 
			}	// reset password
		} else {	//SVN Status
			if ($auth_status['ta'] === true || $auth_status['teacher'] === true)
			{
?>
		<p><a href="#" onClick="javascript: establish_svn_repository();" class="btn btn-default">
			Establish Svn Repository
		</a></p>
<?php 
			}
			else
			{
?>
		<p>This course does not support svn</p>	
<?php
			}
		}	//SVN Status
?>
	</div>
<?php 
	}	// SVN enable
?>
	<h3 class="table-caption"><strong>EMAIL SUBSCRIPTION</strong></h3>
	<div class="horizontal-divider"></div>
<?php 
	if (isset($this->stu_list))
	{
?>
	<h3 class="table-caption"><strong>STUDENT LIST</strong></h3>
	<div class="horizontal-divider"></div>
	<div name="stu_list" class="setting-table-wrapper">
		<table class='table stu-list-table'>
			<thead>
				<tr>
					<th width="50%">
						ID
					</th>
					<th width="50%">
						Name
					</th>
				</tr>
			</thead>
			<tbody>
				<?php
				foreach ($this->stu_list as $stu)
				{
				?>
				<tr>
					<td><?php echo htmlspecialchars($stu['user_id']); ?></td>
					<td><?php echo htmlspecialchars($stu['name']); ?></td>
				</tr>
				<?php
				}
				?>
			</tbody>
		</table>
	</div>
<?php 
	}
?>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>