<table class='table course-materials-table'>
	<thead>
		<tr>
			<th width="44%">
				Abstract
			</th>
			<th width="12%">
				Publish Time
			</th>
			<th width="12%">
				Instructor
			</th>
			<th width="12%">
				Attachment
			</th>
			<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
			<th width="20%">
				Operation
			</th>
			<?php } ?>
		</tr>
	</thead>
	<tbody>
		<?php
		$count = 0;
		foreach ($this->materials as $material)
		{
			$count++;
			$data = $material['data'];
		?>
		<tr>
			<td>
				<?php if (!empty($data['abstract_md'])) { ?>
				<a class="btn-link" href="#" onClick="javascript: show_detail(<?php echo $material['id']; ?>);"
						data-toggle="tooltip" title="Click here to see the markdown detail."><?php
					echo htmlspecialchars($data['abstract']);
				?></a>
				<?php } else
					{
						echo htmlspecialchars($data['abstract']);
					} 
				?>
			</td>
			<td><?php echo date('Y-m-d', $data['publish_time']); ?></td>
			<td><?php
					$t = 0;
					foreach ($data['instructors'] as $instructor)
					{
						if ($t === 1)
							echo '<br />';
						else
							$t = 1;
						echo htmlspecialchars($instructor);
					}
			?></td>
			<td><?php
					$t = 0;
					foreach ($data['attachments'] as $attachment)
					{
						if ($t === 1)
							echo '<br />';
						else
							$t = 1;
						echo '<a href="../../../files/file/download?name=' . htmlspecialchars($attachment['name']) . '&id=' . htmlspecialchars($attachment['id']) . '">' . htmlspecialchars($attachment['name']) . '</a>';
					}
			?></td>
			<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
			<td>
				<a class="btn-link" href="#" onClick="javascript: modify_material(<?php echo $material['id']; ?>);">
					Modify
				</a>&nbsp;
				<a class="btn-link" href="#" onClick="javascript: del_material(<?php echo $material['id']; ?>);">
					Del
				</a>&nbsp;
				<a class="btn-link" href="#" onClick="javascript: notify_material(<?php echo $material['id']; ?>);">
					Notify
				</a>&nbsp;
			</td>
			<?php } ?>
		</tr>
		<?php
		}
		if ($count === 0)
		{
			echo '<tr><td colspan="5" class="text-center">
				Not any, contact your teacher for more!
			</td></tr>';
		}
		?>
	</tbody>
</table>