<?php 
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/course-info/course-faculty.js', 'text/javascript' );
	
	$this->headTitle('Course Faculty');
?>
<h5 class="table-caption"><strong>TEACHER</strong></h5>
<div class="horizontal-divider"></div>
<div class="faculty-list text-center">
	<?php
		foreach ($this->teacher_list as $faculty)
		{
			$data = \Zend\Json\Json::decode($faculty['data'], true);
	?>
	<div class="faculty text-center">
		<h3><?php echo $faculty['name']; ?></h3>
		<p>MOBILE: <?php echo $data['mobile']; ?></p>
		<p>EMAIL: <?php echo $data['email']; ?></p>
		<p>BBSID: <?php echo $data['bbsid']; ?></p>
		<p class="faculty-intro">
			<?php 
			if (!empty($data['intro'])) 
			{ 
				$intro_len = mb_strlen($data['intro'], 'utf8');
				if ($intro_len <= 67)
				{
					echo $data['intro'];
					echo '</p><p>&nbsp;';
				}
				else
				{
					echo mb_substr($data['intro'], 0, 60, 'utf8');
					echo '...';
					echo '</p><p>';
					echo '<a class="more-intro" data-content="' . htmlspecialchars($data['intro']) . '">MORE</a>';
				}
			}
			else
			{
				echo '</p><p>';
				echo '&nbsp;';
			}
			?>
		</p>
	</div>
	<?php 
		}
	?>
</div>
<div class="clear"></div>
<h5 class="table-caption"><strong>TEACHING ASSISTANT</strong></h5>
<div class="horizontal-divider"></div>
<div class="faculty-list text-center">
	<?php
		foreach ($this->ta_list as $faculty)
		{
			$data = \Zend\Json\Json::decode($faculty['data'], true);
	?>
	<div class="faculty text-center">
		<h3><?php echo $faculty['name']; ?></h3>
		<p>Mobile: <?php echo $faculty['mobile']; ?></p>
		<p>Email: <?php echo $faculty['email']; ?></p>
		<p>BBSID: <?php echo $data['bbsid']; ?></p>
	</div>
	<?php 
		}
	?>
	<div class="clear"></div>
</div>