<?php 
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/course-info/course-info.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('Course Introduction');
	
	$data = \Zend\Json\Json::decode($this->course_info["data"], true);
?>
<script type="text/javascript">
	$(document).ready(function()
	{
		$("#add_news").tooltip();
	});
</script>
<h1 class="text-center course-title"><strong><?php echo $this->name; ?></strong></h1>
<h3 class="text-center course-subtitle"><?php echo $this->subname; ?></h3>
<div class="course-info-table-wrapper" name="news">
	<h3 class="table-caption"><strong>NEWS</strong></h3>
	<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
	<a href="#" id="add_news" onClick="javascript: showInfoMaintainDialog('add_news')" class="edit-btn btn btn-link"
		data-toggle="tooltip" title="This is used to add a new news to 'news' field and send it to all the related students immediately"
		>
		SEND_MESSAGES
	</a>
	<a href="#" onClick="javascript: showInfoMaintainDialog('news')" class="edit-btn btn btn-link">
		EDIT
	</a>
	<?php } ?>
	<div class="clear"></div>
	<div class="horizontal-divider"></div>
	<div class="course-info-content" name="news">
		<p><?php echo nl2br(htmlspecialchars($data['news'])); ?></p>
	</div>
	<div class="course-info-content">
		<?php 
			if (isset($this->course_info["last_schedule_modify"]))
			{
				echo '<p>The schedule has been last modified on ';
				echo date('Y-m-d', strtotime($this->course_info["last_schedule_modify"])); 
				echo ', <a href="../schedule/' . $this->course_id . '">check it out</a></p>';
			}
		?>
	</div>
</div>
<div class="course-info-table-wrapper" name="goals">
	<h3 class="table-caption"><strong>GOALS</strong></h3>
	<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
	<a href="#" onClick="javascript: showInfoMaintainDialog('goals')" class="edit-btn btn btn-link">EDIT</a>
	<?php } ?>
	<div class="clear"></div>
	<div class="horizontal-divider"></div>
	<div class="course-info-content" name="goals">
		<p><?php echo nl2br(htmlspecialchars($data['goals'])); ?></p>
	</div>
</div>
<div class="course-info-table-wrapper" name="contents">
	<h3 class="table-caption"><strong>CONTENTS</strong></h3>
	<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
	<a href="#" onClick="javascript: showInfoMaintainDialog('contents')" class="edit-btn btn btn-link">EDIT</a>
	<?php } ?>
	<div class="clear"></div>
	<div class="horizontal-divider"></div>
	<div class="course-info-content" name="contents">
		<p><?php echo nl2br(htmlspecialchars($data['contents'])); ?></p>
	</div>
</div>
<div id="info-maintain-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enter new information for <span></span></h4>
			</div>
			<div class="modal-body">
				<span name="type-span"></span>
				<form id="info-maintain-form" enctype="multipart/form-data">
					<input type="hidden" name="type" />
					<textarea class="form-control" name="value"></textarea>
					<input class="form-control" type="submit" 
						value="submit" 
					/>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="tooltip">
	<div class="tooltip-inner">
		
	</div>
	<div class="tooltip-arrow"></div>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$course_id = <?php echo htmlspecialchars($this->course_id); ?>;
</script>