<?php 
	$this->headTitle('Course Schedule');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript')
		->prependFile ( $this->basePath() . '/js/course-info/course-material.js', 'text/javascript');
?>
<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_material(<?php echo $this->course_id; ?>);">
		Add more materials
	</a>
</div>
<div class="horizontal-divider"></div>
<?php } ?>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>LECTURE</strong></h3>
	<?php echo $this->MT_0; ?>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>VIDEO</strong></h3>
	<?php echo $this->MT_5; ?>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>HOMEWORK</strong></h3>
	<?php echo $this->MT_1; ?>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>LAB</strong></h3>
	<?php echo $this->MT_2; ?>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>PROJECT</strong></h3>
	<?php echo $this->MT_3; ?>
</div>
<div class="horizontal-divider"></div>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>INTERNAL</strong></h3>
	<?php 
	if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'] || $this->auth_status['stu']))
		echo $this->MT_4;
	else 
		echo '<div class="text-center"><p>Secret Information, pleases log in.</p></div>';
	?>
</div>
<div class="horizontal-divider"></div>
<div id="upload-work-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Upload work <span></span></h4>
			</div>
			<div class="modal-body">
				<span name="type-span"></span>
				<form id="upload-work-form" enctype="multipart/form-data">
					<div class="text-center">
						<a name="old_file" target="__blank"></a>
					</div>
					<input class="form-control" type="hidden" name="course_material_id" />
					<input class="form-control" type="file" name="file" />
					<input class="form-control" type="submit" 
						value="submit" 
					/>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<div class="tooltip">
	<div class="tooltip-inner">
		
	</div>
	<div class="tooltip-arrow"></div>
</div>