@charset "utf-8";
/* CSS Document */

* {
	outline:none !important;
	-moz-outline: none !important;
}

.clear {
	clear: both !important;
}

.hidden {
	display: none !important;
}

a:hover {
	text-decoration: none;
}

.table td.text-right, .table th.text-right
{
	text-align: right;
}

.table td.text-center, .table th.text-center
{
	text-align: center;
}

/* loading bar */

#operatingDialog div[name="loadingDiv"] > div[name="loadingBar"]
{
	width:220px;
	height:19px;
	background-image: url(img/ajax-loading.gif);
	background-position:0 0;
}

/* Layout */

.bucket
{
	padding: 12px;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 8px;
}

@media screen and (max-width: 768px)
{
	.main-img-bucket
	{
		padding: 0;
		border: none;
		margin-top: -10px;
	}
}

#account-bar > a > img
{
	width: 25px;
	height: 25px;
}

.table-caption
{
	padding: 4px;
	width: 50%;
}

.horizontal-divider
{
	height: 0px;
	border-bottom: 2px solid #faebcc;	
}

#navbar > ul > li
{
	display: none;
}

#wechat_icon
{
	cursor: pointer;
}

footer
{
	text-align: center;
}

footer > p
{
	font-size: 0.8em;
}