<?php 
	$this->headTitle('User Account');
	
	$user = $this->user;
	$user_data = \Zend\Json\Json::decode($user['data'], true);
	
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/user/account.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
?>
<div class="container">
	<div class="row">
		<div id="user-info-left" class="col-sm-4">
			<div class="user-info-table-wrapper" name="icon">
				<h4 class="table-caption">Your Icon</h4>
				<?php 
					if ($user_data['icon'] !== '')
					{
				?>
				<img src="/files/file/download?id=<?php echo $user_data['icon']; ?>" />
				<?php 
					} else {
				?>
				<img src="/img/icon/fake-user-icon.png" />
				<?php 
					}
				?>
				<a class="btn btn-link">
					Change Password
				</a>
				<a href="#" onClick="javascript: startMaintain('icon');" class="btn btn-link">
					CHANGE ICON
				</a>
			</div>
		</div>
		<div id="user-info" class="col-sm-8">
			<div class="user-info-table-wrapper" name="user_info">
				<h4 class="table-caption">User Info</h4>
				<a href="#" onClick="javascript: startMaintain('user_info');" class="edit-btn btn btn-link start-maintain-button">
					EDIT
				</a>
				<a href="#" onClick="javascript: submitMaintain('user_info');" class="edit-btn btn btn-link maintain-button hidden">
					SUBMIT
				</a>
				<a href="#" onClick="javascript: cancelMaintain('user_info');" class="edit-btn btn btn-link maintain-button hidden">
					CANCEL
				</a>
				<table class="table">
					<tr>
						<td>
							MOBILE
						</td>
						<td name="mobile" class="display-value">
							<?php echo $user_data['mobile']; ?>
						</td>
						<td class="modification-value hidden">
							<input type="text" class="form-control" name="mobile" value="<?php echo $user_data['mobile']; ?>" />
						</td>
					</tr>
					<tr>
						<td>
							EMAIL
						</td>
						<td name="email" class="display-value">
							<?php echo $user_data['email']; ?>
						</td>
						<td class="modification-value hidden">
							<input type="text" class="form-control" name="email" value="<?php echo $user_data['email']; ?>" />
						</td>
					</tr>
					<tr>
						<td>
							BBSID
						</td>
						<td name="bbsid" class="display-value">
							<?php echo $user_data['bbsid']; ?>
						</td>
						<td class="modification-value hidden">
							<input type="text" class="form-control" name="bbsid" value="<?php echo $user_data['bbsid']; ?>" />
						</td>
					</tr>
				</table>
				<table class="table">
					<tr class="intro-tr">
						<td>
							INTRO
						</td>
						<td name="intro" class="display-value">
							<?php if (!empty($user_data['intro'])) echo $user_data['intro']; ?>
						</td>
						<td class="modification-value hidden">
							<textarea class="form-control" name="intro"><?php if (!empty($user_data['intro'])) echo $user_data['intro']; ?></textarea>
						</td>
					</tr>
				</table>
			</div>
			<div class="horizontal-divider"></div>
			<div class="user-info-table-wrapper" name="subscribe_method">
				<h4 class="table-caption">Subscription Method</h4>
				<a href="#" onClick="javascript: startMaintain('subscribe_method');" class="edit-btn btn btn-link start-maintain-button">
					EDIT
				</a>
				<a href="#" onClick="javascript: submitMaintain('subscribe_method');" class="edit-btn btn btn-link maintain-button hidden">
					SUBMIT
				</a>
				<a href="#" onClick="javascript: cancelMaintain('subscribe_method');" class="edit-btn btn btn-link maintain-button hidden">
					CANCEL
				</a>
				<table class="table">
					<tr>
						<td>
							Mobile
						</td>
						<td name="mobile" class="display-value">
							<?php echo $user['mobile']; ?>
						</td>
						<td class="modification-value hidden">
							<input type="text" class="form-control" name="mobile" value="<?php echo $user['mobile']; ?>" />
						</td>
					</tr>
					<tr>
						<td>
							Email
						</td>
						<td name="email" class="display-value">
							<?php echo $user['email']; ?>
						</td>
						<td class="modification-value hidden">
							<input type="text" class="form-control" name="email" value="<?php echo $user['email']; ?>" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div id="icon-upload-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Icon Upload</h4>
			</div>
			<div class="modal-body">
				<form id="icon-upload-form" enctype="multipart/form-data">
					<input class="form-control" type="file" name="file" /> 
					<input class="form-control" type="submit" 
						value="submit" 
					/>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>