<?php 
	$this->headTitle('Student work status');
	//$this->headScript()
	//	->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
?>
<div class="student-list-table-wrapper">
	<h3 class="table-caption"><strong><?php echo $this->course_material_abstract; ?></strong></h3>
	<table class='table student-list-table'>
		<thead>
			<tr>
				<th width="25%">
					ID
				</th>
				<th width="25%">
					Name
				</th>
				<th width="25%">
					Submitted Time
				</th>
				<th width="25%">
					Attachment
				</th>
			</tr>
		</thead>
		<tbody>
			<?php
			foreach ($this->course_stu_works as $course_stu_work)
			{
				if ($course_stu_work['data'] !== null)
					$data = \Zend\Json\Json::decode($course_stu_work['data'], true);
				else
					$data = null;
			?>
			<tr>
				<td><?php echo htmlspecialchars($course_stu_work['user_id']); ?></td>
				<td><?php echo htmlspecialchars($course_stu_work['user_name']); ?></td>
				<td><?php echo $data !== null ? date('Y-m-d H:i:s', $data['submitted_time']) : 'Not Submitted Yet'; ?></td>
				<td><?php echo $data !== null ? '<a target="__blank" href="../../../files/file/download?name=' . htmlspecialchars($course_stu_work['user_id'] . '.' . $data['stored_file_name']) . '&id=' . htmlspecialchars($data['stored_file_id']) . '">Download</a>' : 'Not Submitted Yet'; ?></td>
			</tr>
			<?php
			}
			?>
		</tbody>
	</table>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>