@CHARSET "UTF-8";

.course-material-table-wrapper,
.course-info-table-wrapper,
.setting-table-wrapper,
.student-list-table-wrapper
{
	padding: 20px;
	padding-bottom: 40px;
}

/* Course Info */

.course-title, .course-subtitle
{
	font-family: Arial, 黑体;
}

.course-info-table-wrapper > .table-caption
{
	float: left;
}

.course-info-table-wrapper > .edit-btn
{
	margin-top: 29px;
	float: right;
}

.course-info-content
{
	padding: 10px;
	padding-top: 20px;
}

#info-maintain-form textarea[name='value']
{
	width: 556px;
	height: 130px;
}

/* Course Faculty */

.faculty
{
	width: 280px;
	display: inline-block;
	font-size: 0.8em;
	margin-left: 10px;
	margin-right: 10px;
}

.faculty h3
{
	font-size: 2em;
	font-family: Arial, 黑体; 
}

.faculty-intro
{
	height: 4.5em;
	overflow: hidden;
}

.more-intro
{
	cursor: pointer;
}

/* Course Material */



/* Course Material One */

#md-div, #video-div
{
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding: 3%;
}

.video-item
{
	padding: 2%;
}

.video-item video
{
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Course Material Maintain */

#material-table input[name='deadline_t'], #material-table input[name='instructor_t'], #material-table input[name='attachment_t']
{
	margin-bottom: 5px;
	width: 80%;
	float: left;
}

/* Setting */



/* Student Work */

