<?php 
	if (isset($this->result) && $this->result)
		$success = true;
	else 
		$success = false;
	
	$this->headTitle('WeiChat Bind');
?>
<?php 
	if ($success)
	{
?>
		Congratulations! You have successfully bind your wechat account. <br />
<?php 
	}
	else
	{	
		if (isset($this->error))
		{
?>
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	You have entered wrong username or passwords!
</div>
<?php 
		}
?>
<form id="login-form" class="password-form" action="../bind/<?php echo htmlspecialchars($this->wx_open_id); ?>" method="post">
	<div class="form-group">
		<label>Username:</label>
		<input class="form-control" type="text" name="username" />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input class="form-control" type="password" name="password" />
	</div>
	<div class="form-group">
		<input class="form-control" type="submit" 
			value="Bind"
		/>
	</div>
</form>
<?php 
	} 
?>