<?php echo $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle()->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
						->prependStylesheet($this->basePath() . '/css/style.css')
						->prependStylesheet($this->basePath() . '/css/common.css')
						->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
									  ->prependFile($this->basePath() . '/js/layout.js')
									  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
									  ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

		<script type="text/javascript">
		
			$base_path = "<?php echo $this->basePath(); ?>";
			$navbar_active = "<?php echo $this->navbar_active; ?>";
			
			$(document).ready(function()
			{
				$("#navbar > ul > li[name='" + $navbar_active + "']").addClass("active").removeClass("hidden");
			});
			
		</script>
		
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="<?php echo $this->url('home') ?>">
						Software School Fudan University
					</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
					<ul class="nav navbar-nav">
					</ul>
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<div class="container">
			<?php echo $this->content; ?>
			<hr>
			<footer>
				<p>
					<a href="http://www.software.fudan.edu.cn" target="__blank">
						Software School Fudan University
					</a>. 
					<a href="<?php echo $this->url('application/default', array('controller' => 'index', 'action' => 'author')); ?>">
						About The Site
					</a> 
				</p>
			</footer>
		</div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
	</body>
</html>
