@CHARSET "UTF-8";

/* Account */

.user-info-table-wrapper
{
	padding: 10px;
	padding-bottom: 20px;
}

.user-info-table-wrapper > .table-caption
{
	float: left;
}

.user-info-table-wrapper > .edit-btn
{
	margin-top: 15px;
	float: right;
}

.user-info-table-wrapper .intro-tr > td
{
	height: 10em;
}

#user-info-left > div
{
	padding-left: 10%;
	padding-right: 10%;
}

#user-info-left > div > img
{
	width: 100%;
}

/* Password */

.password-form
{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#resetPasswordDialog .modal-dialog
{
	width: 480px;
}

#resetPasswordForm > input[name='username']
{
	margin-bottom: 20px;
}