<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/course-score/item-query-one.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('Course Score Item Maintaining');
	
	$t = $this->course_score_item['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="score-item-form" action="../create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->course_score_item['id']; ?>" />
		<input type="hidden" name="course_id" value="<?php echo $this->course_score_item['course_id']; ?>" />
		<table id="score-item-table" class="table">
			<thead>
				<tr>
					<th width="30%">Key</th>
					<th width="70%">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Abstract</td>
					<td><input type="text" name="abstract"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->course_score_item['abstract']); ?>" /></td>
				</tr>
				<tr>
					<td>Min Score</td>
					<td><input type="text" name="min_score" class="form-control"
						value="<?php echo htmlspecialchars($this->course_score_item['min_score'] / 10); ?>" />
					</td>
				</tr>
				<tr>
					<td>Max Score</td>
					<td><input type="text" name="max_score" class="form-control"
						value="<?php echo htmlspecialchars($this->course_score_item['max_score'] / 10); ?>" />
					</td>
				</tr>
				<tr>
					<td>Weight</td>
					<td><input type="text" name="weight" class="form-control"
						value="<?php echo htmlspecialchars($this->course_score_item['weight'] / 10); ?>" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default" name="submit">
						Submit
					</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$course_id = <?php echo $this->course_material['course_id']; ?>;
</script>