<?php 
	$this->headTitle('Course Score Item Overview');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/course-score/item-query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: query_all_score(<?php echo $this->course_id; ?>);">
		Query all scores
	</a>
</div>
<div class="horizontal-divider"></div>
<?php if ($this->auth_status['is_authenticated'] && ($this->auth_status['teacher'] || $this->auth_status['ta'])) { ?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_score_item(<?php echo $this->course_id; ?>);">
		Add more score items
	</a>
</div>
<div class="horizontal-divider"></div>
<?php } ?>
<div class="course-material-table-wrapper">
	<h3 class="table-caption"><strong>SCORE ITEM</strong></h3>
	<table class='table course-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					Abstract
				</th>
				<th width="10%">
					Min Score
				</th>
				<th width="10%">
					Max Score
				</th>
				<th width="10%">
					Weight
				</th>
				<th width="10%">
					Status
				</th>
				<th width="30%">
					Operation
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->course_score_items as $item)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($item['abstract']); ?></td>
				<td><?php echo htmlspecialchars($item['min_score'] / 10); ?></td>
				<td><?php echo htmlspecialchars($item['max_score'] / 10); ?></td>
				<td><?php echo htmlspecialchars($item['weight'] / 10); ?>%</td>
				<td><?php 
					switch ($item['publicity_level'])
					{
						case 0:
							$str = 'Not publicized';
							break;
						case 1:
							$str = 'Publicized';
							break;
						default:
							$str = 'State Not Normal';
					}
					echo $str;
				?></td>
				<td>
					<?php 
						if ($this->auth_status['ta'] === true || $this->auth_status['teacher'] === true)
						{
					?>
						<a class="btn-link" href="#" onClick="javascript: modify_score_item(<?php echo $item['id']; ?>);">
							Modify
						</a>&nbsp;
						<a class="btn-link" href="#" onClick="javascript: del_score_item(<?php echo $item['id']; ?>);">
							Del
						</a>&nbsp;
						<a class="btn-link" href="#" onClick="javascript: score_score_item(<?php echo $item['id']; ?>);">
							Score
						</a>&nbsp;
						<a class="btn-link" href="#" onClick="javascript: publish_score_item(<?php echo $item['id']; ?>);">
							Publish
						</a>&nbsp;
					<?php } ?>
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>