<?php 
	$this->headTitle('Student Score');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/plugins/table2csv/table2csv.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/course-score/score-query-all.js', 'text/javascript' );
?>
<div class="student-list-table-wrapper">
	<h3 class="table-caption"><strong>
		Score Report
	</strong></h3>
	<a href="#" id="download-score-btn" class="edit-btn btn btn-link">
		Download
	</a>
	<table class="table course-materials-table" id="score-table">
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					Name
				</th>
				<?php 
					foreach ($this->course_score_item_list as $item)
					{
						echo '<th class="text-right">' . $item['abstract'] . '</th>';
					}
				?>
				<th class="text-right">
					Total
				</th>
			</tr>
		</thead>
		<tbody>
		<?php 
			foreach ($this->course_stu_scores as $user_id => $scores)
			{
				$total = 0;
				echo '<tr><td>' . $user_id . '</td><td>' . $scores['name'] . '</td>';
				foreach ($scores['score'] as $score)
				{
					$value = $score['value'] / 10;
					$total += $value / $score['max_score'] * $score['weight'];
					echo '<td class="text-right">' . $value . '</td>';
				}
				echo '<td class="text-right">' . number_format($total, 2) . '</td></tr>';
			}
		?>
		</tbody>
	</table>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
</script>