<?php 
	$this->headTitle('Student work status');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/course-score/score-query.js', 'text/javascript' )
?>
<div class="student-list-table-wrapper">
	<h3 class="table-caption"><strong><?php echo $this->course_score_item['abstract']; ?></strong></h3>
	<a href="#" onClick="javascript: showInputMultipleDialog()" class="edit-btn btn btn-link">
		EXCEL UPLOAD
	</a>
	<form id="student-list-form">
		<table class='table course-materials-table'>
			<thead>
				<tr>
					<th width="25%">
						ID
					</th>
					<th width="25%">
						Name
					</th>
					<th width="25%">
						Score
					</th>
					<th width="25%">
						Rank
					</th>
				</tr>
			</thead>
			<tbody>
				<?php
				foreach ($this->course_stu_scores as $course_stu_score)
				{
				?>
				<tr name="<?php echo htmlspecialchars($course_stu_score['user_id']); ?>">
					<td><?php echo htmlspecialchars($course_stu_score['user_id']); ?></td>
					<td><?php echo htmlspecialchars($course_stu_score['user_name']); ?></td>
					<td><input class="form-control score" type="text" value="<?php echo htmlspecialchars($course_stu_score['value'] / 10); ?>" /></td>
					<td><?php echo htmlspecialchars($course_stu_score['rank']); ?></td>
				</tr>
				<?php
				}
				?>
				<tr>
					<td colspan="4">
						<input class="form-control" type="submit"
							value="Submit"
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div id="input-multiple-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					Upload 
				</h4>
			</div>
			<div class="modal-body">
				<label><img src="/img/course-score/group_set_score_tutorial.png" /></label>
				<label>
					Copy your data from excel here and click "Insert"
				</label>
				<textarea id="input-multiple-textarea" class="form-control" name="ori_data"></textarea>
			</div>
			<div class="modal-footer">
				<form class="form-inline">
					<button name="cancel" class="btn" class="close" data-dismiss="modal" aria-hidden="true">
						Cancel
					</button>
					<button name="confirm" class="btn btn-primary">
						Confirm
					</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$course_score_item_id = <?php echo $this->course_score_item['id']; ?>;
</script>