<?php 
	$this->headTitle('Log in');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/user/login.js', 'text/javascript' )
?>
<?php 
	if (isset($this->error))
	{
?>
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<?php 
        if ($this->error == \Zend\Authentication\Result::FAILURE_IDENTITY_AMBIGUOUS)
    	{
?>
    You should use "forget password" for the first time.
<?php
    	}
    	else 
    	{
?>
	You have entered wrong username or passwords!
<?php 
    	}
?>
</div>
<?php
	}
?>
<form id="login-form" class="password-form" action="." method="post">
	<div class="form-group">
		<label>Username:</label>
		<input class="form-control" type="text" name="username" />
	</div>
	<div class="form-group">
		<label>Password:</label>
		<input class="form-control" type="password" name="password" />
	</div>
	<div class="form-group">
		<input class="form-control" type="submit" 
			value="Login"
		/>
	</div>
	<a href="#" onClick="javascript: reset_apply();">Forget my password.</a>
</form>
<div id="resetPasswordDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					Reset Password
				</h4>
			</div>
			<div class="modal-body">
				<div name="msgDiv">
					<div name="word">
						<span></span>
					</div>
					<div name="input">
						<form id="resetPasswordForm">
							<input class="form-control" name="username" type="text" />
							<div src="../funcaptcha/" style="width: 350px; height: 320px; overflow: hidden; border: none; margin-left: auto; margin-right: auto;">
								<?php echo $this->frame; ?>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<form class="form-inline">
					<button name="cancel" class="btn">
						Cancel
					</button>
					<button name="confirm" class="btn btn-primary">
						Ok
					</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
</script>