<h1>
	Welcome!
</h1>
<p>
	If your browser does not redirect to home page, please
	<a href="<?php echo $this->url('home'); ?>">
		click here
	</a>
	.
</p>
<script type="text/javascript">
	window.location.href = '<?php echo $this->url('home'); ?>';
</script>
	