<?php echo $this->doctype(); ?>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<?php echo $this->headTitle()->setSeparator(' - ')->setAutoEscape(false) ?>

		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
		                ->prependStylesheet($this->basePath() . '/css/layout/layout.css')
						->prependStylesheet($this->basePath() . '/css/style.css')
						->prependStylesheet($this->basePath() . '/css/common.css')
						->prependStylesheet($this->basePath() . '/css/bootstrap.min.css'); ?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
									  ->prependFile($this->basePath() . '/js/layout/application.js')
									  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
									  ->prependFile($this->basePath() . '/js/jquery.min.js') ?>

		<script type="text/javascript">
		
			$base_path = "<?php echo $this->basePath(); ?>";
			
			$(document).ready(function()
			{
				$navbar_active = "<?php echo $this->navbar_active; ?>";
				$("#navbar > ul > li[name='" + $navbar_active + "']").addClass("active").removeClass("hidden");
			});
		</script>

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="logoline">
                <div class="container">
                    <a href="<?php echo $this->url('home'); ?>">
                        <img src="<?php echo $this->basePath() . '/img/logo.png'; ?>"
                            alt="Software School Fudan University" />
                    </a>
                </div>
            </div>
			<div class="navline">
			    <div class="container">
    				<div class="navbar-header">
    					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    						<span class="sr-only">Toggle navigation</span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    						<span class="icon-bar"></span>
    					</button>
    				</div>
    				<div id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
    					<ul class="nav navbar-nav">
    						<li name="admin" class="admin_role"><a href="<?php echo $this->url("admin/default", array('controller' => 'index', 'action' => 'index')); ?>">
    							Admin
    						</a></li>
    					</ul>
    					<ul class="nav navbar-nav navbar-right">
    						<li name="login"><a href="<?php echo $this->url('authentication/default', array('controller' => 'log', 'action' => 'out')); ?>">
    							Sign In
    						</a></li>
    						<li name="account">
    							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    								Account
    							</a>
    							<ul class="dropdown-menu" role="menu">
    								<li id="account-bar">
    									<a href="<?php echo $this->url('user/default', array('controller' => 'account', 'action' => 'query')); ?>">
    										Account
    									</a>
    								</li>
    								<li class="divider"></li>
    								<li><a href="<?php echo $this->url('authentication/default', array('controller' => 'log', 'action' => 'out')); ?>">
    									Logout
    								</a></li>
    							</ul>
    						</li>
    					</ul>
    				</div><!--/.nav-collapse -->
    			</div>
			</div>
		</div>
		<div class="main-img-bucket bucket container">
    		<div id="main-img">
    			
    		</div>
		</div>
		<div class="container">
			<?php echo $this->content; ?>
			<hr>
			<?php require __DIR__ . '/../../../Libraries/view/include/footer.php'; ?>
		</div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
	</body>
</html>
