@CHARSET "UTF-8";

/* Index */

.admin-buttons-wrapper
{
	margin-top: 2%;
	margin-bottom: 20px;
}

.admin-buttons-wrapper .panel-body
{
	text-align: center;
}

.admin-buttons-wrapper .panel-body img
{
	width: 70%;
}

/* Query One Course */

input.id_input, input.name_input
{
	border: none;
}
