<?php 
	$this->headTitle('Course Personal Score');
//	$this->headScript()
//		->prependFile ( $this->basePath () . '/js/course-score/score-query.js', 'text/javascript' )
?>
<div class="student-list-table-wrapper">
	<h3 class="table-caption"><strong><?php echo $this->course_score_item['abstract']; ?></strong></h3>
	<form id="student-list-form">
		<table class='table course-materials-table'>
			<thead>
				<tr>
					<th width="40%">
						Abstract
					</th>
					<th width="25%">
						Score
					</th>
					<th width="10%">
					</th>
					<th width="25%">
						Rank
					</th>
				</tr>
			</thead>
			<tbody>
				<?php
				foreach ($this->scores as $score)
				{
				?>
				<tr>
					<td><?php echo htmlspecialchars($score['abstract']); ?></td>
					<td>
						<?php 
							$value = $score['value'];
							$min_score = $score['min_score'];
							$max_score = $score['max_score'];
							$width = ($value - $min_score) / ($max_score - $min_score);
						?>
						<div class="progress">
							<div class="progress-bar" role="progressbar" 
								style="width: <?php echo $width * 100; ?>%;">
							</div>
						</div>
					</td>
					<td><?php echo htmlspecialchars($value / 10); ?></td>
					<td></td>
				</tr>
				<?php
				}
				?>
			</tbody>
		</table>
	</form>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>