<?php 
	$this->headTitle('Admin Index');
?>
<h3 class="table-caption"><strong>
	Admin Options
</strong></h3>
<div class="horizontal-divider"></div>
<div class="admin-buttons-wrapper">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="../../course/query/"><img src="<?php echo $this->basepath() . '/img/admin/courses.png'; ?>" /></a>
			</div>
			<div class="panel-footer">
				Course Maintain
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				<a href="../../user/query/"><img src="<?php echo $this->basepath() . '/img/admin/users.png'; ?>" /></a>
			</div>
			<div class="panel-footer">
				User Maintain
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body">
				Panel content
			</div>
			<div class="panel-footer">
				Panel footer
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>