<?php 
	$this->headLink()
		->prependStylesheet($this->basePath() . '/css/application/index.css');

	$this->headTitle('About!');
?>
<div class="container">
	<h3>About The Site</h3>
	<div class="horizontal-divider"></div>
	<div class="row region-wrapper">
		<div class="col-sm-6 region-wrapper">
			<img style="width: 100%" src="/img/application/author/function_en.png" />
		</div>
		<div class="col-sm-6 region-wrapper">
			<h4>Overall:</h4>
			<p>
				This system provide teachers, teaching assistants and students a convenient way to share course material, hand in homework, and publicization of score.
			</p>
			<br />
			<h4>Main Function:</h4>
			<ul>
				<li>Provide teachers and teaching assistants a convenient way to share course materials.</li>
				<li>Easy to hand in / collect students' work online.</li>
				<li>Teachers and teaching assistants can establish a svn repository with only one click.</li>
				<li>Score can be published on this site to ensure only personal acknowledge.</li>
			</ul>
		</div>
	</div>
	<h3>History</h3>
	<div class="horizontal-divider"></div>
	<div class="row region-wrapper">
		<div class="col-sm-12 region-wrapper">
			<p>
				The idea about this site begins in 2010, and it is firstly designed to use on students' non-course performance evaluating. <br />
				After 2 semester's running, this system finally shut down along with the shutting down of Fudan College. <br />
				One year later, we discovered that this sites can be reused, and that is the first time when this system be put into academic use. <br />
				In 2014, this site has been redesigned and reimplemented to its final version. <br />
			</p>
		</div>
	</div>
	<h3>Production:</h3>
	<div class="horizontal-divider"></div>
	<div class="row region-wrapper">
		<div class="col-sm-12 region-wrapper">
			<p>
				Welcome to visit the production site <a href="http://www.coursric.org" target="_blank">http://www.coursric.org</a>
			</p>
		</div>
	</div>
	<h3>Acknowledgement</h3>
	<div class="horizontal-divider"></div>
	<div class="row region-wrapper">
		<div class="col-sm-offset-1 col-sm-11 region-wrapper">
            <ul>
                <li><h4>Vice Dean, Yiming Zhao</h4></li>
                <li><h4>Teacher, Xufeng Fang</h4></li>
                <li><h4>Teacher, Yi Li</h4></li>
            </ul>
		</div>
	</div>
	<h3>Author: Jiajie Ye</h3>
	<div class="horizontal-divider"></div>
	<div class="row region-wrapper">
		<div class="col-sm-3 region-wrapper">
			<img style="width: 100%" src="/img/icon/author-icon.jpg" />
		</div>
		<div id="user-info" class="col-sm-9 region-wrapper">
			<div class="user-info-table-wrapper" name="user_info">
				<h4 class="table-caption">Introduction</h4>
				<div class="clear"></div>
				<div>
					<p>Undergraduate student in software school, Fudan University.<br>
					Currently in graduate program in University of California, Irvine.</p>
				</div>
			</div>
			<div class="horizontal-divider"></div>
			<div class="user-info-table-wrapper" name="user_info">
				<!-- <h4 class="table-caption">Contact Info</h4> -->
				<table class="table">
					<tr>
						<td>
							Website
						</td>
						<td name="website" class="display-value">
				            <a href="http://www.geniusye.com" target="__blank">www.geniusye.com</a>
						</td>
					</tr>
					<tr>
                        <td>
                        	Email
                        </td>
                        <td name="email" class="display-value">
                            geniusye at geniusye dot com
                        </td>
					</tr>
				</table>
			</div>
			<div class="horizontal-divider"></div>
		</div>
	</div>
</div>
