<?php 
	$this->headLink()
		->prependStylesheet($this->basePath() . '/css/application/index.css');

	$this->headScript()
		->prependFile ( $this->basePath () . '/js/application/index.js', 'text/javascript');
	
	$this->headTitle('Software School Fudan University Course System');
?>
<h3>Courses</h3>
<div class="horizontal-divider"></div>
<div id="course">
	<div name="course_content">
		<?php 
			foreach ($this->courses as $course)
			{
		?>
		<a href="course_info/query/introduction/<?php echo $course['id']; ?>" class="item">
			<?php echo $course['name']; ?>&nbsp;<span class="course-subtitle"><?php echo $course['subname']; ?></span>
		</a>
		<?php 
			}
		?>
	</div>
	<div name="setting">
		<form class="form-inline" id="course_semester_selection_form">
			<div class="form-group xlarge">
				<select id="semester_select" class="form-control">
					<?php
						foreach ($this->semester_list['detail'] as $semester_name => $semester_value)
						{
					?>
						<option value="<?php echo $semester_value; ?>"><?php echo $semester_name; ?></option>
					<?php
						}
					?>
				</select>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$semester_now = <?php if(!empty($this->semester_list['now'])) echo $this->semester_list['now']; else echo 0; ?>;
</script>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
