<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/admin/course-maintain.js', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('Course Maintaining');
	
	$t = $this->course['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="course_form" action="../create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->course['id']; ?>" />
		<input type="hidden" name="semester" value="<?php echo $this->course['semester']; ?>" />
		<table id="course-table" class="table">
			<thead>
				<tr>
					<th width="30%">Key</th>
					<th width="70%">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td><input type="text" name="name"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->course['name']); ?>" /></td>
				</tr>
				<tr>
					<td>Subname</td>
					<td><input type="text" name="subname"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($this->course['subname']); ?>" /></td>
				</tr>
				<tr>
					<td>Course No.</td>
					<td><input type="text" name="course_no" class="form-control"
						value="<?php echo $this->course['course_no']; ?>" />
					</td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">Submit</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<?php 
	if (is_numeric($this->course['id']))
	{
?>
<div class="row">
	<div class="col-md-6">
		<table id="new_teacher_table" class="table teacher-list-table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="new_teacher_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><input type="text" readonly class="name_input" value="" /></td>
					<td><a href="#" name="submit" onClick="javascript: add_teacher();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->teacher_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_teacher(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
		<table id="new_ta_table" class="table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr id="new_ta_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><input type="text" readonly class="name_input" value="" /></td>
					<td><a href="#" name="submit" onClick="javascript: add_ta();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->ta_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_ta(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table id="new_stu_table" class="table">
			<thead>
				<tr>
					<th width="10%">
					</th>
					<th width="30%">
						ID
					</th>
					<th width="30%">
						Name
					</th>
					<th width="30%">
						Operation
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="4" class="text-center">
						<button onClick="javascript: show_stu_dialog();" class="btn btn-link">
							SET IN GROUP
						</button>
					</td>
				</tr>
				<tr id="new_stu_row">
					<td></td>
					<td><input class="id_input" 
						placeHolder="Input ID Here" 
						name="id_input" /></td>
					<td><input type="text" readonly class="name_input" value="" /></td>
					<td><a href="#" name="submit" onClick="javascript: add_stu();">
						ADD
					</a></td>
				</tr>
				<?php 
					foreach ($this->stu_list as $stuff)
					{
						$id = $stuff['user_id'];
				?>
				<tr value="<?php echo $id; ?>">
					<td>
						<i class="stuff-list-current">Cu</i>
						<i class="stuff-list-deleting hidden">De</i>
						<i class="stuff-list-creating hidden">Cr</i>
					</td>
					<td><?php echo $id; ?></td>
					<td><?php echo $stuff['name']?></td>
					<td><a href="#" onClick="javascript: remove_stu(<?php echo $id; ?>);">
						DEL
					</a></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
	</div>
</div>
<div id="stuDialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">
					Set Student By Group
				</h4>
			</div>
			<div class="modal-body">
				<div name="msgDiv">
					<label><img src="/img/admin/course/group_add_stu_tutorial.png" /></label>
					<label>
					Copy student list from excel with the format showing above here.
					</label>
					<textarea class="form-control" name="stu_list" ></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<form class="form-inline">
					<button name="cancel" class="btn" data-dismiss="modal">
						Cancel
					</button>
					<button name="confirm" class="btn btn-primary">
						Confirm
					</button>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<?php 
	}
?>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$semester = <?php echo $this->course['semester']; ?>;
	$course_id = <?php echo $this->course['id']; ?>;
</script>