<?php 
	$this->headTitle('Course List');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/admin/course-query.js', 'text/javascript');
?>
<div class="text-center">
	<a class="btn btn-link" href="#" onClick="javascript: add_course(<?php echo $this->semester; ?>);">
		Add new course
	</a>
</div>
<div class="horizontal-divider"></div>
<div class="course-table-wrapper">
	<h3 class="table-caption"><strong>Courses</strong></h3>
	<table class='table course-score-item-table'>
		<thead>
			<tr>
				<th width="30%">
					Name
				</th>
				<th width="25%">
					Subname
				</th>
				<th width="25%">
					Course No.
				</th>
				<th width="20%">
					Operation
				</th>
			</tr>
		</thead>
		<tbody>
		<?php
			foreach ($this->courses as $course)
			{
		?>
			<tr>
				<td><?php echo htmlspecialchars($course['name']); ?></td>
				<td><?php echo htmlspecialchars($course['subname']); ?></td>
				<td><?php echo htmlspecialchars($course['course_no']); ?></td>
				<td>
					<a class="btn-link" href="#" onClick="javascript: modify_course(<?php echo $course['id']; ?>);">
						Modify
					</a>&nbsp;
					<a class="btn-link" href="#" onClick="javascript: del_course(<?php echo $course['id']; ?>);">
						Del
					</a>&nbsp;
				</td>
			</tr>
		<?php 
			}
		?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>