<?php 
	$this->headTitle('Course Semester List');
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' )
		->prependFile ( $this->basePath() . '/js/admin/course-query.js', 'text/javascript');
?>
<div class="course-table-wrapper">
	<h3 class="table-caption"><strong>Semester</strong></h3>
	<table class='table course-table'>
		<thead>
		</thead>
		<tbody>
			<?php
				foreach ($this->semester_list['detail'] as $semester_name => $semester_value)
				{
			?>
			<tr><td>
				<a class="btn btn-link" href="<?php echo $semester_value; ?>">
					<?php echo $semester_name; ?>
				</a>
			</td></tr>
			<?php 
				}
			?>
		</tbody>
	</table>
</div>
<div class="horizontal-divider"></div>
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>