<?php
	$this->headScript()
		->prependFile ( $this->basePath () . '/js/course-info/course-material-maintain.js?v=1.0.0012', 'text/javascript' )
		->prependFile ( $this->basePath () . '/js/jquery.form.js', 'text/javascript' );
	
	$this->headTitle('Course Schedule Maintaining');
	
	$data = \Zend\Json\Json::decode ( $this->course_material ['data'], true );
	$date_format = 'Y-m-d';
	
	$t = $this->course_material['id'] === 'new' ? false : true;
?>
<div class="row">
	<form id="material_form" action="../create/" method="post" class="form col-md-6 col-md-offset-3">
		<input type="hidden" name="id" value="<?php echo $this->course_material['id']; ?>" />
		<input type="hidden" name="course_id" value="<?php echo $this->course_material['course_id']; ?>" />
		<input type="hidden" name="deadline" value="" />
		<input type="hidden" name="instructor" value="" />
		<input type="hidden" name="attachment" value="" />
		<table id="material-table" class="table">
			<thead>
				<tr>
					<th width="30%">Key</th>
					<th width="70%">Value</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Type</td>
					<td><select name="type" class="form-control" <?php if ($t) echo 'readonly'; ?>>
							<option value="0">LECTURE</option>
							<option value="5">VIDEO</option>
							<option value="1">HW</option>
							<option value="2">LAB</option>
							<option value="3">PROJECT</option>
							<option value="4">INTERNAL</option>
					</select></td>
				</tr>
				<tr>
					<td rowspan="2">Abstract</td>
					<td><input type="text" name="abstract"
						class="form-control input-xlarge"
						value="<?php echo htmlspecialchars($data['abstract']); ?>" /></td>
				</tr>
				<tr>
					<td>
						<span>Markdown : </span>
						<?php 
							if(!empty($data['abstract_md']))
							{
						?>
						<input type="hidden" name="abstract_md" value="<?php echo htmlspecialchars($data['abstract_md']); ?>" />
						<a target="__blank" name="abstract_md_uploaded_span" href="../../../files/file/download?name=<?php echo htmlspecialchars($data['abstract']); ?>&id=<?php echo htmlspecialchars($data['abstract_md']); ?>">Uploaded</a>
						<?php 
							}
							else
							{
						?>
						<input type="hidden" name="abstract_md" />
						<?php 
							}
						?>
						<button name="abstract_md_upload_btn" class="btn btn-link" onclick="javascript: return upload_abstract_md();">
							Upload/Update
						</button>
						<button name="abstract_md_delete" class="btn btn-link <?php if(empty($data['abstract_md'])) echo 'hidden'; ?>" onclick="javascript: return delete_abstract_md(this);">
							Delete
						</button>
					</td>
				</tr>
				<tr>
					<td>Publish Time</td>
					<td><input type="date" name="publish_time" class="form-control"
						value="<?php echo date($date_format, $data['publish_time']); ?>" />
					</td>
				</tr>
				<tr class="stu_work hidden">
					<td>Deadline</td>
					<td>
						<?php
							foreach ( $data ['deadlines'] as $deadline )
							{
						?>
						<div>
							<input type="date" name="deadline_t" class="form-control"
								value="<?php echo date($date_format, $deadline); ?>" />
							<button class="btn btn-link"
								onclick="javascript: return del_line(this);">Del</button>
							<div class="clear"></div>
						</div>
						<?php
							}
						?>
						<button class="btn btn-link"
							onclick="javascript: return add_line(this, 'date', 'deadline_t');">Add</button>
					</td>
				</tr>
				<tr>
					<td>Instructor</td>
					<td>
						<?php
							foreach ( $data ['instructors'] as $instructor ) {
						?>
						<div>
							<input type="text" name="instructor_t" class="form-control"
								value="<?php echo htmlspecialchars($instructor); ?>" />
							<button class="btn btn-link"
								onclick="javascript: return del_line(this);">Del</button>
							<div class="clear"></div>
						</div>
						<?php
							}
						?>
						<button class="btn btn-link"
							onclick="javascript: return add_line(this, 'text', 'instructor_t');">Add</button>
					</td>
				</tr>
				<tr>
					<td>Attachment</td>
					<td>
						<?php
							foreach ( $data ['attachments'] as $attachment ) {
						?>
						<div>
							<input type="text" name="attachment_t" class="form-control" sources="<?php echo htmlspecialchars($attachment['id']); ?>"
								value="<?php echo htmlspecialchars($attachment['name']); ?>" disabled />
							<button class="btn btn-link" onclick="javascript: return del_line(this);">Del</button>
							<div class="clear"></div>
						</div>
						<?php
							}
						?>
						<button name="attachment_add_btn" class="btn btn-link"
							onclick="javascript: return add_attachment();">Add</button>
					</td>
				</tr>
				<tr class="stu_work hidden">
					<td>Student Work Submission</td>
					<td>
						<div>
							No file needed
							<input type="radio" name="need_upload" value="0" checked />
							Work upload needed
							<input type="radio" name="need_upload" value="1" />
							<div class="clear"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>Notification Setting</td>
					<td>
						<div>
							Do Not Send Notifications
							<input type="radio" name="if_notification" value="0" checked />
							Send Notifications
							<input type="radio" name="if_notification" value="1" />
							<div class="clear"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2"><a class="form-control btn btn-default"
						name="submit">Submit</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
<div id="file-upload-dialog" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">File Upload</h4>
			</div>
			<div class="modal-body">
				<form id="file-upload-form" enctype="multipart/form-data">
					<input class="form-control" type="file" name="file" /> 
					<input class="form-control" type="submit" 
						value="submit" 
					/>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<?php require_once __DIR__ . "/../../../../Libraries/view/include/dialogs.php"; ?>
<script type="text/javascript">
	$material_type = <?php echo htmlspecialchars($this->course_material['type']); ?>;
	$course_id = <?php echo $this->course_material['course_id']; ?>;
	$need_upload = <?php echo $this->course_material['need_upload']; ?>;
</script>
