@CHARSET "UTF-8";

.navbar
{
	border-bottom: 4px solid #0064a4;
	background-color: #ffd200;
}

.logoline
{
	background-color: #0E419C;
	height: 100px;
	width: auto;
}

#navbar li
{
	border-left-style: solid;
	border-left-color: #dfb600;
	border-left-width: 1px;	
	border-right-style: solid;
	border-right-color: #dfb600;
	border-right-width: 1px;	
}

#navbar li a
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	color: #444;
	background-color: inherit;
}

#navbar li:hover a, #navbar li.active a
{
	background-color: #FFF;
}

@media screen and (max-width: 768px)
{
	#navbar li:hover a, #navbar li.active a
	{
		background-color: #ffe210;
	}
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: inherit;
}